* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  justify-content: center;

}

.container input {
  height: 60px;
  font-size: 18px;
}

.container button {
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
}

#result {
  padding-top: 25px;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;

}

#coracao {
  font-size: 3rem;
  text-align: center;
  animation: beating 1.4s linear infinite;
}
.jamille {
  background-color: #f55acb;
  transition: background-color 0.2s
}

.jamilleText {
  font-family: 'Corinthia', cursive;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #a01f54e0;
}
@keyframes redAlertBackground {
  0%{background-color: #ca040a}
  50%{background-color: #ab1014}
  100%{background-color: #ca040a}

  
}

@keyframes redAlertText {
  0%{opacity: 0}
  50%{opacity: 1}
  100%{opacity: 0}


}
@keyframes beating{
  0%{font-size: 3rem}
  50%{font-size: 4rem}
  100%{font-size: 3rem}
}

.alerta-vermelho {
  animation: redAlertBackground 1.4s linear infinite;
}

.alerta-vermelho-text {
  color: #fff;
  animation: redAlertText 0.7s linear infinite;
}

.dan {
  background-color: #1b6fed;
}
